/* REGOLE GENERALI --------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Regole del contenitore box */
.box {
  margin: 150px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  width: 600px;
}

.contatore {
  display: flex;
  flex-direction: row;
}

/* Regole del quadrato */
.quadro {
  background-color: #fff;
  border: solid 1px #000;
  width: 75px;
  height: 75px;
}
.quadrotwo {
  background-color: #fff;
  border: solid 1px #000;
  width: 75px;
  height: 75px;
}

/* Regole Responsive */
@media screen and (max-width: 768px) {
  /* Regole del contenitore box */
  .box {
    margin: 100px auto;
    width: 400px;
    width: 400px;
  }
  /* Regole del quadrato */
  .quadro {
    width: 50px;
    height: 50px;
  }
}
